.startPage {
    height: 100vw;
}

.center {
    text-align: center;
}

.tabs {
    margin-bottom: 0px !important;
}

@media only screen and (min-width: 320px) {
    .none {
        display: none;
    }
}

@media only screen and (min-width: 420px) {
    .none {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .none {
        display: block;
    }
}